html {
    background-color: rgb(235, 235, 229);
}

body {
    padding: 0 180px 0 180px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.header h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 42px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-menu a {
    margin: 0 12px 0 12px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.nav-menu a:hover {
    opacity: 0.7;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
body p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#selfie-image {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 20px;
    margin-left: 20px;
}

.projects {
    list-style-type: square;
}

.projects li:hover {
    cursor: pointer;
    opacity: 0.7;
}

.projects p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.projects p.open {
    max-height: 200px;
}

li {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}


.skill-img {
    width: 60px;
    height: 60px;
    margin: 10px;
    transition: transform 1s;
    margin: 0 14px 0 14px;
}

.skill-img:hover {
    transform: scale(1.5);
    transition-duration: 1s;
}

.contact-img {
    width: 60px;
    height: 60px;
    margin: 10px;
    transition: transform 1s;
    margin: 0 14px 0 14px;
}